/* Dark Mode Toggle */

.light {
    background-color: white;
    color:black;
    transition-duration: 1s;
}

.dark {
    background-color: #21252A;
    color: white;
    transition-duration: 1s;
}

/* BootStrap Cards */

#brewery-card {
    width: 300px;
    height: 410px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.card-img-top {
    width: 300px;
    padding-left: 0%;
}